
.articles{
    width: 90%;
    margin: 0 auto;
}
.article{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 2rem;
    margin: 2px;
}
.title{
    margin-right: 20px;
    margin-left: 31px;
}
.subtitle{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 18px;
    width: 60%; 
    margin: 0;
    margin-left: 20px; 
}